# Ignore environment variables
.env

# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore virtual environment
venv/
env/

# Ignore database file (if using SQLite)
*.sqlite3

# Ignore OS and IDE files
.DS_Store
.idea/
.vscode/

